*{
    margin: 0px;
    padding: 0px;

}

.container {
    background-image: url('./img/link.jpg');
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{
    width: 600px;
    height: 700px;
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 10px;
}

img{
    margin-top: -20px;
    width: 200px;
    height: 250px;
    align-items: center;
    justify-self: center;
    justify-content: center;
    border-radius: 10px;
    border: 5px #59636d;
}

a{
    display: inline;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
    float: left;
    margin-top: 30px;
}

h3{
    margin-top: 20px;
    color: aliceblue;
}
h5{
    color: #808fa0;
    padding: 10px;
}

li{
    list-style: none;
}

p{
    padding: 20px;
    color: aliceblue;
}