:root {
	--white: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
}

.card-container__profile {
	background-image: url('../img/code.jpeg');
	background-attachment: fixed;
	background-size: cover;
}

.card-body,
.card-container__profile {
	height: 50vh;
}

.card-container__image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 200px;
	border-radius: 100%;
  box-shadow: 5px 5px 10px #000;
}

.card-profile__label {
	margin: 5px;
	font-weight: bold;
	font-size: 20px;
	color: var(--white);
	-webkit-box-shadow: 5px 5px 10px #000;
  -moz-box-shadow: 5px 5px 10px #000;
  box-shadow: 5px 5px 10px #000;
	text-shadow: 5px 5px 10px #000;
}

.card-body {
	width: 100%;
	height: 30%;
}

.card-body__galery img{
	margin-top: 5px;
	width: 300px;
	height: 50vh;
	border-radius: 5px;
}

.card-body__p {
	display: flex;
	flex-direction: row;
	margin: 10px;
	font-size: 16px;
	text-align: center;
}

.img-github {
	width: 30px;
	margin-bottom: -5px;
}

.img-instagram {
	width: 30px;
	margin-bottom: -5px;
}

.img-linkedin {
	width: 30px;
}

.img-github:hover,
.img-linkedin:hover,
.img-instagram:hover {
	filter: invert(100%);
}

.card-profile__button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

.card-profile__button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}

.card-profile__button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}

.github span {
	background-color: #171515;
}

.linkedin span {
	background-color: #3B5998;
}

.instagram span {
	background-color: #3f729b;
}

.card-profile__button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}

.card-profile__button .icon-github {
	color: #171515;
}

.card-profile__button .icon-linkedin {
	color: #3B5998;
}

.card-profile__button .icon-instagram {
	color: #3f729b;
}

.card-profile__button:hover .icon-linkedin,
.card-profile__button:hover .icon-github,
.card-profile__button:hover .icon-instagram {
	color: var(--white);
}

@media only screen and (min-width: 360px) {
	.card-container {
		display: flex;
		flex-direction: column;
		background-size: cover;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;
	}

	.card-container__profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 100%;
		height: 70vh;
	}

}

@media only screen and (min-width: 1024px) {
	body{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-size: cover;
	}

	.card-container {
		width: 100%;
		height: 65vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card-container__profile {
		width: 100%;
		height: 65vh;
	}
}

@media only screen and (min-width: 1200px) {
	.card-container {
		width: 100%;
		height: 100vh;
	}

	.card-container__profile {
		width: 100%;
		height: 65vh;
	}
}